 
 
 /* shared style*/
   .display-flex{
    display: flex;

   }
/*dark 01*/
.text-gray{
    color: #424242;
}
/*dark 02*/
.text-light-gray{
   color: #727272;
}

/*header style*/
header{
    background-color:   rgba(255, 144 , 14 ,0.1) ;
}
 /*.navbar .discription{
    max-width: 1650px;
    margin: 0 auto;
}*/

 .navbar{
   justify-content: space-between;
   align-items: center;
   margin-bottom: 25px;
}
 .nav-item{
    list-style: none;
    margin-right: 60px;
    font-size: 18px;
   
    
}
.nav-list{
   /* margin-right: 230px; ( finish touch)*/
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
     color: #424242;
     
}
 .brand{
    font-size: 2.8rem;
 }
 .navbar, .brand{
   max-width: 100%;
 }
 
 /*baner style*/
 .baner-discription  {
    
    justify-items: center;
   align-items: center;
 
  
}
.baner-titel{
    text-align: center;
}
 .baner-container {
    max-width: 1440px;
    margin: 0 auto;
}
.baner-titel{
    font-weight: 600;
    font-size: 4rem;
    color: #131313;
    margin: 20px;
}
.deateils{
    text-align: center;
    color: #727272;
    font-size: 16px;
    margin-top: 0;
    padding-top: 0;
}
 
 .btn a{
    text-decoration: none;
    color: #eeeeee;

 }
 #btn-link{
   font-size: 20px;
    
 }
 .btn{
    border-radius: 10px ;
     border: none;
    font-weight: 500;
    padding: 20px;
    background-color:#FF900E ;
      
 }
 #banner-img{
   width: 100%;
   margin-bottom:45px ;
 }
  .banner-btn{
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
   margin-top: 32px;
  }
/* main style */
 main{
   max-width: 1440px;
   margin: 0 auto;
 }
   /* section style */

   .one{
      margin-top: 85px;
   }
   .grid-img{
    grid-template-columns: repeat(2,1fr);
    gap: 50px;

   }
   .one{
   align-items: center;
   display: flex;
}
.commit{
    color: #727272;
    font-size: 1rem ;

}
 /* .Quick{ 
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}
 .our{
   color: #131313;
    font-size: 55px;
    font-weight: 500;
}
 .Feature{
    color:  #FF900E;
    font-size: 45px;
    font-weight: bold
 }   */
  
  
  .features-heading {
  font-size: 3rem; /* You can adjust this */
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
  /* modifyed */

}

.quick {
  color: gray;
  font-weight: normal;
}

.our {
  color: black;
  font-weight: bold;
}

.feature {
  color: gold; /* or use #FFD700 */
  font-weight: bold;
}
 .secand-btn{
    color: #eeeeee;
 }
 /*section two style*/

.love-container{
   display: flex;
}
 .common-commit{
   border-radius: 10px;
   box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25) ;
 }
 .commit{
   padding: 0px 40px 30px 30px;
 }
 .headline{
 color: #131313;
 font-size: 1.25rem;
 font-weight: 500;
 padding: 30px 40px 0px 30px;
 }
 .commit-x{
   padding: 0px;
 }
 .common-H{
   color: #131313;
   font-size: 3rem;
   font-weight: bold; 
   margin-top: 0;
 }
.architect{
   width: 100%;
   margin-left: 114px;
   margin-top: 130px;
  
}


.experience {
   border-radius: 10px;
   background-color: #FF900E ;
   width: 342px;
   height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   /* position: relative; */
    top: -70px;
   left: 50px;
   position: absolute;
  
   
}
.year{
    font-size: 4rem;
    font-weight: bold;
   color: #eeeeee;
}
.exp{
   font-weight: 500;
   font-size: 1.5rem;
   
   display: flex;
}
  /*section three style */
  .samarry-board{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0 auto;

  }
  .three{
   align-items: center;
   justify-content: center;
  } 
  
  
  .sammery-card{
   padding: 30px;
    border: 2px solid  rgba(255, 144, 14, 1);
   border-radius: 5px;
   text-align: center;
   margin-left: 20px;
   height: 175px;
  }
 .commit-number{
   font-size: 45px;
   font-weight: 300;
   color: #424242;
   margin: 0px auto;
  
 }
 .commit-next{
      font-size: 20px;
   font-weight: 300;
   color: #727272;
   margin: 0px auto;
  
 
 }
.icon{
   margin: 0px auto;
     display: flex;
   justify-content: center;
  
}
.fact{
   font-size: 45px;
   font-weight: bold;
   color: #131313;
   margin-left: 28px;
   margin-bottom: 0;
}
/* sponspors-container style */
.sponspors-containar{
   width: 33.80rem;
   
}
.four{
   margin: 50px;
}
.heading{
   font-size: 3rem;
   font-weight: bold;

}
 .heading-commit{
   font-size: 1.15rem;
   font-weight: 200;
   color: #727272;
 }
 
.sponpors-logo{
 display: grid;
 grid-template-columns: repeat(5,1fr);
   margin-top: 50px ;
}

.logo{
   filter:grayscale(100%) ;
    
}
/* footer style */
.last{
   background-color: #FFF4E7;
}

.footer{
   display: flex;
   justify-content: center;
   margin-bottom: 216px;
}

.footer-commit{
   font-size:20px ;
   color: #424242;
}
/* small device queary */
@media screen and (max-width: 576px) {
    
   .navbar,.nav-list,  .love-container , .samarry-board , .sponpors-logo {
      flex-direction: column;
      /* max-width: 100%; */
     
      justify-items: center;
   }
   .sponpors-logo ,.samarry-board{
      justify-items: center; 
   }
  .one{
       flex-direction: column;
     
   }
  
   .sponpors-logo , .samarry-board{
     grid-template-columns: repeat(1,1fr);
     gap: 25px;
     
   }
    .features-heading{
      padding: 0;
      margin: 0;
    }
   .experience{
      /* width: 100%;
      height: 100%; */
      margin: 0 auto;
   }
   .architect ,.experience {
      position: static;
      
   }
   .sponspors-containar ,.experience ,.architect   {
      width: 100%;
   }
  .architect ,.our-feature ,.heading {
   margin: 0 auto;
   padding: 0;
  }
  
}






